.TopDIV {
	background-image: url('/iblog/resources/image/TopImage.png');
	height: 600px;
	min-width: 100%;
    margin: 0 auto;
	background-size: cover;
}

.logoDiv {
	height: 68px;
	border-bottom: 1px solid;
	border-color: #ea9eef;
}

#mainLogo {
	height: 45px;
	cursor: pointer;
}

.ListUL {
	margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 795px;
    height: 67px;
}

.ListUL>li {
	float: left;
	padding-right: 50px;
	padding-left: 50px;
	border-right: 1px solid;
	border-color: #ea9eef;
	height: 24px;
}

.ListUL>li>a {
	font-size: 22px;
	text-decoration: none;
	color: #0084b7;
	font-family: 'Stylish', sans-serif;
}

.memberList {
	height: 67px;
    width: 264px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 0;
}

.memberList>li {
	margin-top: 28px;
	margin-left: 12px;
	margin-right: 10px;
}

.memberList>li>button {
	color: #0084b7;
	font-size: 16px;
	border: none;
	border-radius: 10px 10px 10px 10px;
	width: 100px;
	height: 34px;
	cursor: pointer;
	font-family: 'Stylish', sans-serif;
}

#login {
	background-color: #efcae0;
	border: 1px solid;
	border-color: white;
}

#user {
	background-color: #ffff00a6;
	border: 1px solid;
	border-color: white;
}

#user:hover {
	background-color: #ffff0000;
}

#login:hover {
	background-color: #ffff0000;
}

.List {
	margin-top: 34px;
}

.notice_Div {
	width: 100%;
    height: 700px;
}

.notice_Form {
	width: 1300px;
    height: 700px;
    margin: 0 auto;
}
#first_notice {
	border-radius: 20px 0px 0px 0px;
}
#last_notice {
	border-radius: 0px 0px 0px 20px;
}
	
.notice_List {
    width: 250px;
    float: left;
    margin-top: 4%;
    background: linear-gradient(#f47dcc,#a7daf7);
	box-shadow: 27px 20px 20px -3px #0202027d;
    border-radius: 20px 0px 0px 20px;
}

.notice_List > ul {
	list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.notice_List > ul > li {
	height: 50px;
}

.notice_List > ul > li > button {
	width: 100%;
    height: 100%;
    background-color: #00000054;
    border: none;
    color: black;
    border: 1px solid;
    font-size: 20px;
    font-family: 'Stylish', sans-serif;
}

.notice_List > ul > li > button:hover {
	background-color: #ffffff00;
	cursor : pointer;
}

.notice_Image {
    width: 1050px;
    float: right;
    height: 400px;
    margin-top: 4%;
    background: linear-gradient(#f47dcc,#a7daf7);
    box-shadow: 20px 20px 20px -3px #0202027d;
    border-radius: 0px 20px 20px 0px;
}

.notice_Image > img {
	width: 500px;
    height: 300px;
    margin: 50 50 50 50;
    border-radius: 10px 10px 10px 10px;
    margin-left: 50px;
    margin-top: 50px;
}

.notice_Image > h2 {
	margin: 0;
    float: right;
    margin-top: 13%;
    margin-right: 6%;
    font-family: 'Stylish', sans-serif;
    font-size: 30px;
}

.notice_Image > h2 >button {
    margin: 0;
    float: right;
    margin-top: 13%;
    margin-right: 33%;
    font-family: 'Stylish', sans-serif;
    font-size: 30px;
    border: none;
    background-color: #807f9d;
    border-radius: 20px 20px 20px 20px;
    width: 130px;
    text-align: center;
    border:1px solid;
}

.notice_Image > h2 >button:hover {
	background-color: #ffffff00;
	cursor : pointer;
}