.joinForm {
	width: 100%;
	top: 9%;
	position: absolute;
}

.membership_DIV {
	width: 1200px;
	height: 700px;
	margin: 0 auto;
	margin-top: 2%;
	background-color: rgba(201, 232, 245, 0.98);
	border-radius: 10px 10px 10px 10px;
}

.membership_DIV>p {
	font-size: 30px;
	font-family: 'Stylish', sans-serif;
	padding-left: 2%;
	float: left;
}

#company_name {
	font-size: 30px;
	font-family: 'Stylish', sans-serif;
	padding-left: 5%;
	float: left;
	color: #ed66c1;
}

.membership_DIV > ul {
	margin: 0;
    padding: 0;
    float: right;
    width: 300px;
    list-style: none;
    margin-top: 3%;
    padding-right: 2%;
}

.membership_DIV > ul > li {
	float: right;
    margin-left: 10%;
}

.membership_DIV > ul > li > button {
	width: 40px;
    height: 40px;
    border: 1px solid #687880;
    background-color: white;
    font-size: 20px;
    border-color: black;
    border-radius: 40px 40px 40px 40px;
}

#steb {
	background-color: #f581ce;
}

.addMember_DIV {
	display: inline-block;
	width: 100%;
	height: 600px;
	border-top: 1px solid #0000007a;
}

.addMember_DIV > form {
	margin-top: 10%;
}

.addMember_DIV > form > table {
	margin: 0 auto;
	font-size: 20px;
	font-family: 'Stylish', sans-serif;
}

.addMember_DIV > form > table > tbody > tr > td {
	width: 200px;
	text-align: center;
}

.addMember_DIV > form > table > tbody > tr > td > p {
	height: 25px;
	text-align: left;
}

.addMember_DIV > form > table > tbody > tr > td > input {
	width: 300px;
    height: 25px;
}

#pwdLimit {
    font-size: 16px;
}

#pwdLimit_td {
	width : 250px;
}

#pwdCheck {
	color: red;
    font-size: 16px;
	visibility: hidden;
}

#idcheck {
	width: 100px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    color: #0084b7;
    height: 30px;
    font-family: 'Stylish', sans-serif;
    font-size: 17px;
    background-color: #efcae0;
    cursor: pointer;
}

#addmember {
	margin-top: 35px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    color: #0084b7;
    height: 30px;
    font-family: 'Stylish', sans-serif;
    font-size: 25px;
    background-color: #efcae0;
    cursor: pointer;
}
