	.loginForm {
		position: fixed;
	    width: 500px;
	    top: 0;
	    text-align: center;
	    background-color: #0000000a;
		margin-top: 220px;
   	 	margin-left: 440px;
    	margin-right: 419px;
	}
	.loginForm > p {
	font-size: 40px;
    margin-top: 0;
    font-family: 'Stylish', sans-serif;
    color: darkblue;
	}
	
	form > input {
		width: 300px;
    	height: 35px;
	}
	
	form > ul {
	margin: 0;
    padding: 0;
    list-style: none;
    width: 500px;
    height: 50px;
    margin-top: 5px;
    text-align: center;
	}
	
	form > ul > li {
		float: left;
    	margin-right: 2px;
    	height: 25px;
	}
	
	form > ul > li > a {
	text-decoration : none;
    font-family: 'Stylish', sans-serif;
    color : darkblue;		
	}
	
	#loginBtn {
		margin-top: 54px;
	    height: 45px;
	    border-radius: 5px 5px 5px 5px;
	    border: none;
	    font-size: 20px;
	    font-family: 'Stylish', sans-serif;
	    color : darkblue;
	    cursor: pointer;
	}
	
	#loginBtn:hover {
		background-color: #0000002e;
	}