	.pwdSearchForm {
    width: 500px;
    height: 400px;
    top: 0;
    text-align: center;
    background-color: #0000000a;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left:-250px;
    margin-top: -150px;
	}
	.pwdSearchForm > p {
    font-size: 40px;
    margin-top: 7%;
    margin-bottom: 14%;
    font-family: 'Stylish', sans-serif;
    color: darkblue;
	}
	
	form > input {
		width: 300px;
    	height: 35px;
	}
	
	form > ul {
	margin: 0;
    padding: 0;
    list-style: none;
    width: 500px;
    height: 50px;
    margin-top: 5px;
    text-align: center;
	}
	
	form > ul > li {
		float: left;
    	margin-right: 2px;
    	height: 25px;
	}
	
	form > ul > li > a {
	text-decoration : none;
    font-family: 'Stylish', sans-serif;
    color : darkblue;		
	}
	
	#pwdSBtn {
		margin-top: 54px;
	    height: 45px;
	    border-radius: 5px 5px 5px 5px;
	    border: none;
	    font-size: 20px;
	    font-family: 'Stylish', sans-serif;
	    color : darkblue;
	    cursor: pointer;
	}
	
	#pwdSBtn:hover {
		background-color: #0000002e;
	}